.homepage{
    position: relative;
    width: fit-content;
    min-height: 100vh;
}
.homepage-contents{
    width: 100vw;
}

@media only screen and (max-width: 650px) {
    .homepage-poster{
        display: none;
    }
    .navbar{
        position: relative;
        background-color: black;
        width: 100vw;
    }
    .navbar-categories{
        display: none;
    }

}

@media only screen and (max-width: 1150px) {
    .homepage-poster{
        height: 50vh;
    }
}