.homepage-poster {
    background-clip: url(https://mb0netflix.blob.core.windows.net/movies/Sea%20waves%20%26%20beach%20drone%20video%20_%20Free%20HD%20Video%20-%20no%20copyright%20-%20YouTube.MP4?sp=r&st=2022-05-17T13:21:53Z&se=2022-06-15T21:21:53Z&sv=2020-08-04&sr=b&sig=93WbsTIZI1fS88q0pVVlWC0%2FnpsQhM3NvbAbbs2zQJ0%3D);
    height: 80vh;
    background-size: cover;
}