@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.carausal-container {
    width: 100%;
    min-height: min-content;
    position: relative;
    
}

.carausal-container-inner {
    overflow: hidden;
    padding: 2rem;
}
.carausal-container  .track {
    display: flex;
}

.track {
    transition: 0.3s;
    width: 100%;

}

.carausal-container .card-container {
    width: 400px;
    flex-shrink: 0;
    padding-right: 15px;
    box-sizing: border-box;
}

.carausal-container .card-container .card {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.nav button {
    height: 70px;
    width: 69px;
    background:unset;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
}

.nav .prev {
    left: 0px;
}

.nav .next {
    right: 0px;
}

.card {
    position: relative;
    display: block;
    flex: 1 1 0px;
    transition: transform 500ms;
    
}

.track:focus-within .card,
.track:hover .card {
  transform: translateX(-12.5%);
}

.card:focus ~ .card,
.card:hover ~ .card {
  transform: translateX(12.5%);
}

.track .card:focus,
.track .card:hover {
  transform: scale(1.25);
  z-index: 1;
  cursor: pointer;
}