.navbar {
    position: absolute;
    z-index:10;
    top: 0;
    width: 100%;
    height: 3rem;
    padding: 1rem;
    padding-top: 4rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo{
    width: 15rem;
}
.navbar-right{
    display: flex;
    flex-direction: row;
}
.search-bar{
    padding: 0.3rem;
    border: none;
    border-radius: 0.3rem;
    font-size: large;
    opacity: 0.7;
    max-width: 5rem;
}
.search-bar:focus{
    outline-width: 0;
    opacity: 1;
    max-width: 10rem;
}

/*------------------------------------------------------------------------------------  */

.dropbtn {
    cursor: pointer;
    color: black;
    padding: 0.3rem;
    border: none;
    border-radius: 0.3rem;
    background-color: white;
    font-size: large;
    opacity: 0.7;
    font-weight: 700;
    margin-left: 1rem;
    min-height: 3rem;
    min-width: 6rem;
}

.dropbtn:hover,
.dropbtn:focus > .userDropdown{
    opacity: 0.7;
}

.userDropdown-container {
    position: relative;
}

.userDropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    /* overflow: auto; */
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
    cursor: pointer;
    margin-left: 1rem;
}

.userDropdown-content {
    padding: 0.4rem;
    font-size: large;
}
.userDropdown-content:hover {
    background-color: red;
    color: white;
    font-weight: 700;

}


.show {
    display: block;
    background-color: #f1f1f1;
    color:black;
}